{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'article_list' %}">LOGO</a>
            </div>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'article_list' %}">Articles</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
